.root {
  height: 100%;
}

.searchcity {
  width: 100%;
  height: 20%;
}

mat-grid-list {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

mat-card {
  width: calc(95%);
  height: calc(95%);
  padding: 5px;
}

.weathertext {
  font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
}